<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <title>Title</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<table class="table table-striped">
		<tbody>
			<tr th:each="data : ${datas}">
				<td th:text="${data.title}"></td>
				<td th:text="${data.artist}"></td>
				<td th:text="${data.Vocal}"></td>
				<td th:text="${data.Featuring}"></td>
				<td th:text="${data.Composer}"></td>
				<td th:text="${data.Lyricist}"></td>
				<td th:text="${data.Arranger}"></td>
				<td th:text="${data.Album}"></td>
				<td th:text="${data.Playtime}"></td>
				<td th:text="${data.Filename}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
